<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogstore</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header th:insert="blocks/navbar :: navbar"></header>
    <h2>List all products</h2>
    <table>
        <tr>
            <th>Type</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </tr>
        <tr th:each="product : ${products}">
        	<td th:text="${product.name}"></td>
            <td th:text="${product.type}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.manufacturer.name}"></td>
            <td><a th:href="@{/deleteproduct/{id}(id=${product.id})}">Delete</a></td>
            <td><a th:href="@{/editproduct/{id}(id=${product.id})}">Edit</a></td>
        </tr>
    </table>
    <a href="/addproduct" class="btn btn-primary">Add Product</a><br>
    <a href="/listmanufacturers" class="btn btn-primary">Manufacturers</a><br>
    <a href="/home" class="btn btn-primary">Back to Home</a>
</body>

</html>